<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/user/add/<%= nim %>" method="post">
        <label for="keluhan">Pengaduan :</label> <br>
      <textarea
        name="keluhan"
        id="keluhan"
        cols="20"
        rows="5"
        placeholder="Ceritakan detail keluhan :)"
        required
      ></textarea>
      <button type="submit">Submit</button>
      
    </form>
  </body>
</html>
